<% if message.body %>
  <% user = User.find(message.user_id) %>
    <div class="header" id='msg<%=message.id%>' >
      <strong><%= user.first_name %></strong> <%= message.message_time %>
    </div>
    <p><%= message.body %></p><br><br>
<% end %>
