<h3><%= current_user.first_name %>'s Inbox </h3>

  <div class="item">
    <% @chats.each do |chat| %>
        <% if chat.sender_id == current_user.id || chat.receiver_id == current_user.id %>
          <% if chat.sender_id == current_user.id %>
            <% receiver = User.find(chat.receiver_id) %>
          <% else %>
            <% receiver = User.find(chat.sender_id) %>
          <% end %>
          <%= link_to receiver.first_name, chat_messages_path(chat)%>
          <%= link_to "Delete Conversation", chat_path(chat), remote: true, method: :delete%><br>
        <% end %>
      <% end %>
  </div>
