<section class="module">
  <div class="container">
    <div class="col-sm-3 col-md-6 col-lg-12 main">
      <h1 class="page-header font-alt"><%= current_user.first_name %>'s Inbox </h1>
      <div class="table-responsive">
        <table class="table table-striped font-inc">
          <thead>
            <tr>
              <th>Chats</th>
              <th>Remove</th>
            </tr>
          </thead>
          <tbody>
              <div class="item font-alt">
                <% @chats.each do |chat| %>
                  <% if chat.sender_id == current_user.id || chat.receiver_id == current_user.id %>
                    <% if chat.sender_id == current_user.id %>
                      <% receiver = User.find(chat.receiver_id) %>
                    <% else %>
                      <% receiver = User.find(chat.sender_id) %>
                    <% end %>
                    <tr>
                      <td><%= link_to receiver.first_name, chat_messages_path(chat)%></td>
                      <td><%= link_to "Delete", chat_path(chat), remote: true, method: :delete%></td>
                    </tr>
                  <% end %>
                <% end %>
              </div>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

</div>

</section>
