
<section class="module">
  <div class="container">
    <div class="row">

      <div class="col-sm-6 col-sm-offset-3">

        <h2 class="module-title align-center font-alt" id="welcome">Welcome to ActionCable Messenger</h2>

        <div class="module-subtitle align-center font-inc">
          By Cindy Kim
        </div>

      </div>

    </div>
  </div>
</section>
